:root{
    --taille_nav: 40px;
}

body{
    margin: 0;
    padding: 0;
}

.nav ul li{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: center;
    background-color: black;
    height: var(--taille_nav);
    width: 100%;
}

.nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.nav a{
    display: flex;
    height: var(--taille_nav);
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

.sous-menu{
    display: flex;
    flex-direction: column;
    color: blueviolet;
}